In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

Loading the datasets

In [2]:
file_path = "C:\\Users\\abuba\\OneDrive\\Documents\\SOA Project solution\\copy of document for analysis\\srcsc-2026-claims-business-interruption.xlsx"

# Remove missing critical fields

In [3]:
freq = pd.read_excel(file_path, sheet_name=0)
sev = pd.read_excel(file_path, sheet_name=1)

In [7]:
print("SEVERITY DATASET")
sev.head()

SEVERITY DATASET

,claim_id,claim_seq,policy_id,station_id,solar_system,production_load,exposure,energy_backup_score,safety_compliance,claim_amount
0,BI-C-0000001,1.0,BI-000010,G3,Zeta,0.688,0.300,4.0,3.0,3397527.0
1,BI-C-0000002,2.0,BI-000010,G3,Zeta,0.688,0.300,4.0,3.0,720933.0
2,BI-C-0000003,1.0,BI-000015,G2,Helionis Cluster,0.414,0.570,3.0,5.0,961887.0
3,BI-C-0000004,1.0,BI-000028,A9,Zeta,0.355,0.334,3.0,1.0,522526.0
4,BI-C-0000005,1.0,BI-000056,B3,Epsilon,0.457,0.761,4.0,3.0,1152033.0

In [8]:
print("FREQUENCY DATASET")
freq.head()

FREQUENCY DATASET

,policy_id,station_id,solar_system,production_load,energy_backup_score,supply_chain_index,avg_crew_exp,maintenance_freq,safety_compliance,exposure,claim_count
0,BI-000001,A4,Helionis Cluster,0.942,2.0,0.078,4.0,0.0,4.0,0.340,0.0
1,BI-000002,A8,Helionis Cluster,0.646,2.0,0.962,6.0,5.0,5.0,0.127,0.0
2,BI-000003,B1,Epsilon,0.004,4.0,0.746,5.0,2.0,4.0,0.487,0.0
3,BI-000004,G6,Helionis Cluster,0.215,2.0,0.717,14.0,6.0,5.0,0.464,0.0
4,BI-000005,G3,Epsilon,0.515,2.0,0.881,27.0,0.0,1.0,0.655,0.0

In [9]:
print("Shape of FREQUENCY DATA", freq.shape) 
print("Shape of SEVERITY DATA", sev.shape)

Shape of FREQUENCY DATA (99923, 11)
Shape of SEVERITY DATA (10055, 10)

In [14]:
print("Shape of FREQUENCY DATA", freq.dtypes) 
print("\nShape of SEVERITY DATA", sev.dtypes)

Shape of FREQUENCY DATA policy_id               object
station_id              object
solar_system            object
production_load        float64
energy_backup_score    float64
supply_chain_index     float64
avg_crew_exp           float64
maintenance_freq       float64
safety_compliance      float64
exposure               float64
claim_count            float64
dtype: object

Shape of SEVERITY DATA claim_id                object
claim_seq              float64
policy_id               object
station_id              object
solar_system            object
production_load        float64
exposure               float64
energy_backup_score    float64
safety_compliance      float64
claim_amount           float64
dtype: object

In [15]:
for col in freq.columns:
    print(f"--- Value Counts for {col} ---")
    print(freq[col].value_counts())
    print("\n")

--- Value Counts for policy_id ---
policy_id
BI-099923    1
BI-000001    1
BI-099907    1
BI-099906    1
BI-099905    1
            ..
BI-000007    1
BI-000006    1
BI-000005    1
BI-000004    1
BI-000003    1
Name: count, Length: 99794, dtype: int64


--- Value Counts for station_id ---
station_id
G6            3823
G1            3813
A9            3760
A7            3760
B9            3747
              ...
A2_???5489       1
G2_???2014       1
A1_???3970       1
A3_???8861       1
B8_???6268       1
Name: count, Length: 199, dtype: int64


--- Value Counts for solar_system ---
solar_system
Zeta                        39906
Epsilon                     39794
Helionis Cluster            19895
Epsilon_???1651                 2
Epsilon_???9947                 2
                            ...
Helionis Cluster_???7682        1
Zeta_???8030                    1
Helionis Cluster_???3762        1
Epsilon_???6896                 1
Epsilon_???5971                 1
Name: count, Length: 170, dtype: int64


--- Value Counts for production_load ---
production_load
 0.316000     128
 0.096000     128
 0.756000     128
 0.718000     127
 0.984000     126
             ...
-0.046000       1
-0.393000       1
-0.150000       1
-0.028000       1
 17.805429      1
Name: count, Length: 1217, dtype: int64


--- Value Counts for energy_backup_score ---
energy_backup_score
2.000000     20236
5.000000     19984
4.000000     19963
1.000000     19797
3.000000     19637
             ...
29.071809        1
21.952523        1
58.779892        1
44.275289        1
35.748699        1
Name: count, Length: 109, dtype: int64


--- Value Counts for supply_chain_index ---
supply_chain_index
 0.145    129
 0.418    129
 0.670    129
 0.149    129
 0.300    128
         ...
-0.516      1
-0.199      1
-0.605      1
-0.456      1
-0.090      1
Name: count, Length: 1200, dtype: int64


--- Value Counts for avg_crew_exp ---
avg_crew_exp
15.000000     3451
24.000000     3447
9.000000      3443
23.000000     3423
6.000000      3409
              ...
106.908851       1
25.001179        1
118.573104       1
299.461486       1
145.575281       1
Name: count, Length: 173, dtype: int64


--- Value Counts for maintenance_freq ---
maintenance_freq
1.000000     14412
0.000000     14341
3.000000     14273
5.000000     14204
6.000000     14183
             ...
49.074164        1
11.895543        1
10.231306        1
69.066556        1
33.628271        1
Name: count, Length: 101, dtype: int64


--- Value Counts for safety_compliance ---
safety_compliance
4.000000     20047
2.000000     20018
3.000000     19948
1.000000     19888
5.000000     19729
             ...
14.249891        1
17.175537        1
34.320175        1
14.137883        1
6.090320         1
Name: count, Length: 105, dtype: int64


--- Value Counts for exposure ---
exposure
 0.083000     1951
 0.457000      184
 0.514000      177
 0.576000      176
 0.513000      175
              ...
 4.709068        1
 4.511812        1
-0.876000        1
 11.690603       1
-0.860000        1
Name: count, Length: 1122, dtype: int64


--- Value Counts for claim_count ---
claim_count
 0.000000     92762
 1.000000      4985
 2.000000      1336
 3.000000       515
 4.000000       208
-1.000000         3
-2.000000         2
 8.345125         1
 17.126189        1
 31.610433        1
 8.176642         1
 14.904342        1
 14.762870        1
 11.018459        1
 38.156360        1
Name: count, dtype: int64

In [16]:
for col in sev.columns:
    print(f"--- Value Counts for {col} ---")
    print(sev[col].value_counts())
    print("\n")

--- Value Counts for claim_id ---
claim_id
BI-C-0010055    1
BI-C-0000001    1
BI-C-0000002    1
BI-C-0000003    1
BI-C-0000004    1
               ..
BI-C-0000013    1
BI-C-0000012    1
BI-C-0000011    1
BI-C-0000010    1
BI-C-0000009    1
Name: count, Length: 10040, dtype: int64


--- Value Counts for claim_seq ---
claim_seq
 1.000000     7033
 2.000000     2061
 3.000000      720
 4.000000      207
-1.000000       10
-2.000000        2
 41.554188       1
 17.666218       1
 10.037211       1
-3.000000        1
 10.521340       1
 11.847238       1
 19.583592       1
 9.082742        1
 6.476796        1
 9.552729        1
 17.778978       1
Name: count, dtype: int64


--- Value Counts for policy_id ---
policy_id
BI-028960    4
BI-028992    4
BI-099312    4
BI-099444    4
BI-000286    4
            ..
BI-000200    1
BI-000178    1
BI-000159    1
BI-000115    1
BI-000114    1
Name: count, Length: 7057, dtype: int64


--- Value Counts for station_id ---
station_id
B2            436
B1            416
G6            410
G1            395
A8            395
G2            391
G4            389
A3            389
A9            383
B5            381
B4            379
B7            374
G3            372
G8            372
G9            370
B3            370
B6            363
G5            360
B8            360
A6            356
A5            350
A1            349
B9            337
G7            337
A2            330
A4            329
A7            322
B6_???3157      1
G6_???6008      1
G5_???5968      1
G2_???3189      1
B6_???1417      1
B4_???9734      1
G7_???5945      1
G2_???9128      1
B2_???9443      1
B7_???6134      1
A7_???7211      1
B2_???1069      1
B6_???7667      1
A2_???4868      1
B1_???5544      1
B7_???2129      1
A3_???1812      1
Name: count, dtype: int64


--- Value Counts for solar_system ---
solar_system
Epsilon                     4084
Zeta                        4027
Helionis Cluster            1921
Helionis Cluster_???3432       1
Epsilon_???5401                1
Epsilon_???5782                1
Helionis Cluster_???9230       1
Zeta_???9986                   1
Epsilon_???8624                1
Zeta_???6696                   1
Zeta_???4223                   1
Helionis Cluster_???5328       1
Epsilon_???6512                1
Zeta_???5188                   1
Epsilon_???4736                1
Name: count, dtype: int64


--- Value Counts for production_load ---
production_load
0.244000     28
0.170000     24
0.057000     24
0.157000     23
0.642000     23
             ..
0.945000      1
0.850000      1
5.468494      1
12.475644     1
0.551000      1
Name: count, Length: 1022, dtype: int64


--- Value Counts for exposure ---
exposure
0.083000    125
0.614000     30
0.462000     29
0.353000     28
0.553000     28
           ...
4.780571      1
0.977000      1
0.085000      1
4.962253      1
6.772275      1
Name: count, Length: 911, dtype: int64


--- Value Counts for energy_backup_score ---
energy_backup_score
 5.000000     2125
 4.000000     2100
 1.000000     1956
 3.000000     1941
 2.000000     1907
-5.000000        3
-4.000000        2
 11.513776       1
 38.119750       1
 15.940443       1
 16.277606       1
 51.812288       1
 10.074696       1
 27.440163       1
 55.771254       1
 62.389224       1
-2.000000        1
 17.272884       1
-3.000000        1
 43.406234       1
Name: count, dtype: int64


--- Value Counts for safety_compliance ---
safety_compliance
 4.000000     2059
 2.000000     2043
 5.000000     2020
 1.000000     1995
 3.000000     1904
-5.000000        2
-1.000000        2
-2.000000        2
 46.196155       1
 69.295005       1
 26.487430       1
 15.494072       1
 39.149901       1
 32.230356       1
-3.000000        1
 22.070070       1
 24.709799       1
 11.157667       1
 5.182493        1
 59.276694       1
 77.562791       1
 38.766969       1
-4.000000        1
 21.727088       1
 43.843715       1
 40.003790       1
Name: count, dtype: int64


--- Value Counts for claim_amount ---
claim_amount
2543655.0    2
2600294.0    2
750679.0     2
474514.0     2
469183.0     2
            ..
688731.0     1
1924341.0    1
1319553.0    1
5133148.0    1
1278231.0    1
Name: count, Length: 10038, dtype: int64

In [20]:
# Remove duplicates
freq = freq.drop_duplicates()
sev = sev.drop_duplicates()

In [21]:
print("Missing values per column:")
print(freq.isnull().sum())
print("\nMissing values per column:")
print(sev.isnull().sum())

Missing values per column:
policy_id              129
station_id             123
solar_system           159
production_load        109
energy_backup_score    115
supply_chain_index      96
avg_crew_exp           114
maintenance_freq       112
safety_compliance       97
exposure                 0
claim_count              0
dtype: int64

Missing values per column:
claim_id               15
claim_seq              11
policy_id              16
station_id             23
solar_system           11
production_load         7
exposure               13
energy_backup_score     8
safety_compliance      10
claim_amount            0
dtype: int64

In [22]:
freq = freq.dropna(subset=["claim_count", "exposure"])
sev = sev.dropna(subset=["claim_amount"])

In [ ]:
print("Shape:", bi_claims_severity.shape)
print("Shape:", bi_claims_frequency.shape)

In [ ]:
bi_claims_severity.head()

In [ ]:
bi_claims_frequency.head()

In [ ]:
bi_claims_severity.dtypes

In [ ]:
for col in bi_claims_frequency.columns:
    print(f"--- Value Counts for {col} ---")
    print(bi_claims_frequency[col].value_counts())
    print("\n")

In [ ]:
for col in bi_claims_severity.columns:
    print(f"--- Value Counts for {col} ---")
    print(bi_claims_severity[col].value_counts())
    print("\n")

In [ ]:
display(bi_claims_severity.describe().T) # Missing values
print("\nMissing values per column:")
print(bi_claims_severity.isnull().sum())