<a href="https://colab.research.google.com/github/QUADRIABUBAKAR/SOA_CASE_STUDY_2026_MARCH_1/blob/main/Cleaning_Business_interruption_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
file_path = '/content/drive/MyDrive/datasets/srcsc-2026-claims-business-interruption.xlsx'

In [16]:
freq = pd.read_excel(file_path, sheet_name=0)
sev = pd.read_excel(file_path, sheet_name=1)

In [23]:
freq.head()

,policy_id,station_id,solar_system,production_load,energy_backup_score,supply_chain_index,avg_crew_exp,maintenance_freq,safety_compliance,exposure,claim_count
0,BI-000001,A4,Helionis Cluster,0.942,2.0,0.078,4.0,0.0,4.0,0.340,0.0
1,BI-000002,A8,Helionis Cluster,0.646,2.0,0.962,6.0,5.0,5.0,0.127,0.0
2,BI-000003,B1,Epsilon,0.004,4.0,0.746,5.0,2.0,4.0,0.487,0.0
3,BI-000004,G6,Helionis Cluster,0.215,2.0,0.717,14.0,6.0,5.0,0.464,0.0
4,BI-000005,G3,Epsilon,0.515,2.0,0.881,27.0,0.0,1.0,0.655,0.0

In [20]:
sev.head()

,claim_id,claim_seq,policy_id,station_id,solar_system,production_load,exposure,energy_backup_score,safety_compliance,claim_amount
0,BI-C-0000001,1.0,BI-000010,G3,Zeta,0.688,0.300,4.0,3.0,3397527.0
1,BI-C-0000002,2.0,BI-000010,G3,Zeta,0.688,0.300,4.0,3.0,720933.0
2,BI-C-0000003,1.0,BI-000015,G2,Helionis Cluster,0.414,0.570,3.0,5.0,961887.0
3,BI-C-0000004,1.0,BI-000028,A9,Zeta,0.355,0.334,3.0,1.0,522526.0
4,BI-C-0000005,1.0,BI-000056,B3,Epsilon,0.457,0.761,4.0,3.0,1152033.0

In [24]:
sev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10055 entries, 0 to 10054
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   claim_id             10040 non-null  object
 1   claim_seq            10044 non-null  float64
 2   policy_id            10039 non-null  object
 3   station_id           10032 non-null  object
 4   solar_system         10044 non-null  object
 5   production_load      10048 non-null  float64
 6   exposure             10042 non-null  float64
 7   energy_backup_score  10047 non-null  float64
 8   safety_compliance    10045 non-null  float64
 9   claim_amount         10047 non-null  float64
dtypes: float64(6), object(4)
memory usage: 785.7+ KB

In [25]:
freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99923 entries, 0 to 99922
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   policy_id            99794 non-null  object
 1   station_id           99800 non-null  object
 2   solar_system         99764 non-null  object
 3   production_load      99814 non-null  float64
 4   energy_backup_score  99807 non-null  float64
 5   supply_chain_index   99827 non-null  float64
 6   avg_crew_exp         99809 non-null  float64
 7   maintenance_freq     99810 non-null  float64
 8   safety_compliance    99826 non-null  float64
 9   exposure             99822 non-null  float64
 10  claim_count          99819 non-null  float64
dtypes: float64(8), object(3)
memory usage: 8.4+ MB

,count,mean,std,min,25%,50%,75%,max
production_load,99814.0,0.506037,0.404317,-0.998,0.249,0.499,0.749,17.805429
energy_backup_score,99807.0,3.026585,1.875508,-5.000,2.000,3.000,4.000,94.748048
supply_chain_index,99827.0,0.502245,0.364389,-0.990,0.248,0.497,0.748,19.574544
avg_crew_exp,99809.0,15.673922,11.003747,-30.000,8.000,16.000,23.000,579.154962
maintenance_freq,99810.0,3.024644,2.556877,-6.000,1.000,3.000,5.000,119.524221
safety_compliance,99826.0,3.023265,1.906448,-5.000,2.000,3.000,4.000,94.427129
exposure,99822.0,0.503838,0.303332,-0.961,0.324,0.498,0.673,16.306709
claim_count,99819.0,0.101895,0.455530,-2.000,0.000,0.000,0.000,38.156360

In [30]:
# find missing values in the datasets
freqmiss = freq.isnull().sum()
sevmiss = sev.isnull().sum()
print('missing values for frequency table')
print(freqmiss)
print()
print('missing values for severity table')
print(sevmiss)

missing values for frequency table
policy_id              129
station_id             123
solar_system           159
production_load        109
energy_backup_score    116
supply_chain_index      96
avg_crew_exp           114
maintenance_freq       113
safety_compliance       97
exposure               101
claim_count            104
dtype: int64

missing values for severity table
claim_id               15
claim_seq              11
policy_id              16
station_id             23
solar_system           11
production_load         7
exposure               13
energy_backup_score     8
safety_compliance      10
claim_amount            8
dtype: int64

## Joining Tables with `pd.merge()`

The `pd.merge()` function in pandas allows you to combine two DataFrames based on common columns or indices. It's similar to SQL JOIN operations.

Here are the key parameters:

-   `left`, `right`: The two DataFrames you want to merge.
-   `on`: The column name(s) to join on. If the column names are different in the left and right DataFrames, you can use `left_on` and `right_on`.
-   `how`: The type of merge to perform. Common options include:
    -   `'inner'` (default): Returns only the rows where the join key(s) are present in *both* DataFrames.
    -   `'outer'`: Returns all rows from both DataFrames, filling `NaN` for values that don't have a match.
    -   `'left'`: Returns all rows from the *left* DataFrame, with matching rows from the right. `NaN` for unmatched rows in the right.
    -   `'right'`: Returns all rows from the *right* DataFrame, with matching rows from the left. `NaN` for unmatched rows in the left.
-   `suffixes`: A tuple of string suffixes to apply to overlapping column names (other than the join key(s)) from the left and right DataFrames, respectively. This helps distinguish columns that exist in both tables but are not the join key.

In [31]:
# Let's join the 'freq' and 'sev' tables.
# Both tables have 'policy_id', 'station_id', and 'solar_system' as common columns.
# Let's perform an inner join on 'policy_id' to combine information only for policies present in both datasets.
# We'll use suffixes to differentiate columns that appear in both dataframes but are not the merge key.
merged_df = pd.merge(freq, sev,
                   on='policy_id',
                   how='inner',
                   suffixes=('_freq', '_sev'))

print("Shape of the merged DataFrame:", merged_df.shape)
print("First 5 rows of the merged DataFrame:")
display(merged_df.head())

Shape of the merged DataFrame: (12049, 20)
First 5 rows of the merged DataFrame:

,policy_id,station_id_freq,solar_system_freq,production_load_freq,energy_backup_score_freq,supply_chain_index,avg_crew_exp,maintenance_freq,safety_compliance_freq,exposure_freq,claim_count,claim_id,claim_seq,station_id_sev,solar_system_sev,production_load_sev,exposure_sev,energy_backup_score_sev,safety_compliance_sev,claim_amount
0,BI-000010,G3,Zeta,0.688,4.0,0.748,13.0,0.0,3.0,0.300,2.0,BI-C-0000001,1.0,G3,Zeta,0.688,0.300,4.0,3.0,3397527.0
1,BI-000010,G3,Zeta,0.688,4.0,0.748,13.0,0.0,3.0,0.300,2.0,BI-C-0000002,2.0,G3,Zeta,0.688,0.300,4.0,3.0,720933.0
2,BI-000015,G2,Helionis Cluster,0.414,3.0,0.606,26.0,2.0,5.0,0.570,1.0,BI-C-0000003,1.0,G2,Helionis Cluster,0.414,0.570,3.0,5.0,961887.0
3,BI-000028,A9,Zeta,0.355,3.0,0.408,25.0,6.0,1.0,0.334,1.0,BI-C-0000004,1.0,A9,Zeta,0.355,0.334,3.0,1.0,522526.0
4,BI-000056,B3,Epsilon,0.457,4.0,0.344,14.0,2.0,3.0,0.761,1.0,BI-C-0000005,1.0,B3,Epsilon,0.457,0.761,4.0,3.0,1152033.0